# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List data science tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools | 
| ------|
| Apache Spark |
| TensorFlow |
| Scikit-learn |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
minute = 200;
hours = minute/60;
print(str(minute) + " minutes is " + str(hours) + " hours")

200 minutes is 3.3333333333333335 hours

## Author
Aufar Ahmad Jaquera